<footer class="footer">
    <div class="container">
    <%= link_to 'Ruby on Rails Tutorial', '#', id: 'ruby' %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Contact', action_path %></li>
          <li><a href="https://news.railstutorial.org/">News</a></li>
        </ul>
      </nav>
    </div>
</footer>